@import "../../node_modules/react-loader-spinner/dist/loader/css/react-spinner-loader.css";
@import "variables.scss";

.details {
  margin-top: 50px;
  .down {
    color: $red;
  }
  .up {
    color: $green;
  }
  .loader {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  &__header {
    display: flex;
    justify-content: space-around;
    .stock-name {
      font-family: "Girassol";
      font-size: 40px;
    }
    .stock-symbol {
      margin-left: 10px;
      color: $color-2;
    }
  }
  &__info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    &__currentPrice {
      display: flex;
      align-items: baseline;
      justify-content: space-evenly;
      width: 100%;
      @media screen and (orientation: landscape) {
        justify-content: center;
      }
      &__text {
        font-size: 30px;
        @media screen and (orientation: landscape) {
          margin-right: 25px;
        }
      }
      &__price {
        font-size: 30px;
        padding: 10px 20px;

        &.down {
          background-color: $opaqueRed;
          color: $red;
        }
        &.up {
          background-color: $opaqueGreen;
          color: $green;
        }
      }
      &__change {
        font-size: 20px;
        position: relative;
        display: flex;
        @media screen and (orientation: landscape) {
          padding-left: 30px;
        }
        .down-arrow {
          border-left: 1rem solid transparent;
          border-right: 1rem solid transparent;
          margin-bottom: 4px;
          border-bottom: 1rem solid $red;
          margin-right: 5px;
        }
        .up-arrow {
          border-left: 1rem solid transparent;
          border-right: 1rem solid transparent;
          margin-bottom: 4px;
          border-bottom: 1rem solid $green;
          margin-right: 5px;
        }
      }
      &__percentChange {
        @media screen and (orientation: landscape) {
          margin-left: 20px;
        }
      }
    }
    &__year-peaks {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      span {
        align-self: center;
      }
      &__high,
      &__low {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        &__text {
          margin-top: 5px;
          font-size: 13px;
        }
      }
      &__high {
        margin-left: 20px;
        border-bottom: 1px solid $green;
        /* &__text {
          background-color: $opaqueGreen;
        } */
      }
      &__low {
        margin-right: 20px;
        border-bottom: 1px solid $red;
        /* &__text {
          background-color: $opaqueRed;
        } */
      }
    }
  }
}
